<div class="page-width cart__content--container">
  <div class="grid">
    <div class="grid__item one-whole">
      <div class="cart__header--container">
        <div class="">
          <h2 class="cart__header">Shopping Bag: <span class="js-cart-count">{{ cart.items.size }} item(s)</span></h2>
          {%- if cart.total_price > 5000 -%}
            <p class="cart__subheader">You qualify for free shipping!</p>
            {%- else -%}
              {% assign remainder = 5000 | minus: cart.total_price %}
              <p class="cart__subheader">You're {{remainder | money }} off from free shipping!</p>
          {%- endif -%}
          <p class="cart__subheader">We will match any on or offline promotional Offers from any Authorized Shiseido dealers</p>
        </div>
      </div>
    </div>

  </div>
  <div class="grid">
      <div class="grid__item large-up--two-thirds medium-down--one-whole">
        <hr class="cart__item--divider">
        <div class="cart__item-list--container">

          {% for item in cart.items %}
            {% include 'cart-item' %}
          {% endfor %}
        </div>
        <!-- <div class="cart__payment--promo large-up--hide">
          <p class="text--bold text-medium-grey mbot-8">Promo Code</p>
          <div class="payment__promo--input">
            <input type="text" name="" value="">
            <button class="payment__promo--btn " type="button" name="button">Apply</button>
          </div>
        </div> -->
      </div>
      <div class="grid__item large-up--one-third medium-down--hide">
        <div class="cart__payment--details">
          <div class="cart__payment--options">
            <div class="pickup">

            </div>
            <form class="mbot-16" action="cart" method="post">
              <button class="btn width--full btn--checkout--default text-white" type="submit" name="checkout">CHECKOUT</button>
            </form>
            <div class="">
              <a id="continue-shopping" href="" title="Continue shopping"><button class="btn width--full btn--checkout--continue text-white" type="button" name="button">CONTINUE SHOPPING</button></a>
            </div>
            <!-- <a href="/checkout"><button class="btn width--full btn--checkout--default text-white" type="button" name="checkout">CHECKOUT</button></a> -->
            <!-- <div class="text-center">
              <p class="mtop-16 mbot-27">OR</p>
            </div>
            <a href="/checkout"><button class="btn width--full btn--checkout--paypal" type="button" name="button">CHECKOUT WITH PAYPAL</button></a> -->
            <div class="cart__order-summary--container">
              <h3 class="text-medium-grey">Order Summary</h3>
              <div class="flex justify-between align-center mbot-18 text-medium-grey">
                <p>Subtotal</p>
                <p>{{cart.total_price | money }}</p>
              </div>
              <!-- <div class="flex justify-between align-center mbot-18 text-medium-grey">
                <p>Tax</p>
                <p>{{ cart.tax_line.rate }}</p>
              </div> -->
              <div class="flex justify-between align-center mbot-18 text-medium-grey">
                <p>Shipping</p>
                {%- if car.total_price > 7500 -%}
                <p>FREE</p>
                {%- else -%}
                <p>TBD</p>
                {%- endif -%}
              </div>
              <hr class="cart__payment-details--divider">
              <div class="flex justify-between align-center">
                <p class="text--bold">Total</p>
                <p class="text--bold">{{cart.total_price | money }}</p>
              </div>
            </div>
          </div>
          {% comment %}
          <!-- <div class="cart__payment--promo medium-down--hide">
            <p class="text--bold text-medium-grey mbot-8">Promo Code</p>
            <div class="payment__promo--input">
              <input type="text" name="" value="">
              <button class="payment__promo--btn " type="button" name="button">Apply</button>
            </div>
          </div> -->
          {% endcomment %}
        </div>
      </div>
  </div>
</div>
<div class="cart-mobile--checkout-controls--container large-up--hide">
  <div class="cart-mobile--checkout-controls--details">
    <p class="text--smaller text-light-grey"><span class="js-cart-mobile--checkout--total-items">{{ cart.item_count }}</span> items</p>
    <p class="text--smaller text-light-grey">subtotal: <span class="js-cart-mobile--checkout--total-price">{{ cart.total_price | money }}</span></p>
  </div>
  <div class="grid">
    <div class="grid__item">
      <!-- <form class="" action="checkout" method="post">
        <button type="button" name="checkout" class="btn cart-mobile--checkout-controls--btn text-white">CHECKOUT</button></a>
      </form> -->
      <div class="">
        <div class="mbot-16">
          <a href="/checkout">
            <button type="button" name="checkout" class="btn cart-mobile--checkout-controls--btn text-white">CHECKOUT</button></a>
          </a>
        </div>
        <div class="">
          <a id="continue-shopping" href="" title="Continue shopping"><button type="button" name="button" class="btn cart-mobile--checkout-controls--btn continue">CONTINUE SHOPPING</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
