
{% paginate collection.products by 36 %}
<div class="theme__breadcrumbs--container medium-down--hide">
  {%- include 'breadcrumbs' -%}
</div>
<div class="page-width">

{% capture arr %}
{%- for product in collection.products -%}
  {% assign colArr = product.title | split: '_' %}
  {{ colArr.first }}
{%- endfor -%}
{% endcapture %}

{% assign tagFilter = arr | split: " " | uniq  %}

{% comment %}
  <header role="banner">

    {% if collection.description != blank %}
      <div class="rte">
        {{ collection.description }}
      </div>
    {% endif %}

  </header>
  {% endcomment %}
  <div class="grid">
    <div class="text-center width--full">
      <h1 class="text-koko-blue mbot-30 text--medium text--bold">{{collection.title}}</h1>
    </div>
  </div>
  <div class="grid">
    <div class="grid__item large-up--push-one-fifth large-up--four-fifths">
      {% include 'collection-filter'%}
    </div>
  </div>
  <div class="grid">
    <div class="grid__item medium-down--hide large-up--one-fifth">
      {% comment %}
      <h3 class="margin-none text--large">{{ collection.title }}</h3>
      {% endcomment %}
      <div class="collection__tags--container">
        {% comment %}
        {% if collection.all_tags.size > 0 %}
        <ul class="padding-none">
          <li {% unless current_tags %} class="active pbot-15" {%- else -%} class="pbot-15"{% endunless %}>
            {% if collection.handle %}
            <a class="text-light-grey text--small hover-underline" href="/collections/{{ collection.handle }}{% if collection.sort_by %}?sort_by={{ collection.sort_by }}{% endif %}">All</a>
            {% elsif collection.current_type %}
            <a class="text-light-grey text--small hover-underline" href="{{ collection.current_type | url_for_type | sort_by: collection.sort_by }}">All</a>
            {% elsif collection.current_vendor %}
            <a class="text-light-grey text--small hover-underline" href="{{ collection.current_vendor | url_for_vendor | sort_by: collection.sort_by }}">All</a>
            {% endif %}
          </li>
            {% for tag in collection.all_tags %}
              {% if current_tags contains tag %}
              {%- if tagFilter contains tag -%}
              <li class="open pbot-15 collection__tags">
                {{ tag | link_to_remove_tag: tag }}
              </li>
              {%- endif -%}
              {% else %}
              {%- if tagFilter contains tag -%}
                <li class="pbot-15 collection__tags">
                  {{ tag | link_to_tag: tag }}
                </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
        {% endcomment %}
        {%- include 'collection-nav' -%}
      </div>
    </div>
    {% comment %}
    <div class="grid__item large-up--hide">
      <p class="collection__product--count">{{ collection.products.size }} Item(s)</p>
    </div>
    {% endcomment %}
    <div class="grid__item medium-down--one-whole large-up--four-fifths">
      <div class="collection__list--container">
        <div class="grid">
          {%- for product in collection.products -%}
          <div class="grid__item medium-down--one-half large-up--one-third">
            {% include 'product-card' %}
          </div>
          {%- endfor -%}
        </div>
      </div>
    </div>

  </div>

  {% comment %}
  <div>
    {% for product in collection.products %}
      <div>
        {% if product.featured_image != blank %}
          <a href="{{ product.url | within: collection }}">
            {{ product.featured_image.src | img_url: '480x480' | img_tag: product.featured_image.alt }}
          </a>
        {% endif %}

        <p>
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        </p>
        <p>
          {% if product.compare_at_price > product.price %}

            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              {{ 'products.product.on_sale' | t }}
              {{ product.price | money }}
            {% endif %}

          {% else %}

            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money }}
            {% endif %}

          {% endif %}

          {% if product.compare_at_price > product.price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <s>{{ product.compare_at_price | money }}</s>
          {% endif %}

          {% unless product.available %}
            {{ 'products.product.sold_out' | t }}
          {% endunless %}
        </p>
      </div>

    {% else %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
        {% for i in (1..8) %}
          <a href="#">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          </a>

          <p>
            <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
          </p>

          <p>
            {{ 1999 | money }}
          </p>
        {% endfor %}
      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}

    {% endfor %}
  </div>
  {% endcomment %}

  {% if paginate.pages > 1 %}
  {% include 'pagination' %}
  {% endif %}
{% endpaginate %}
</div>
<div class="modal product-card__modal--container" id="product__modal">
{% for product in collection.products %}
{% assign productTitleArr = product.title | split: '_' %}
{% assign collectionTitle = productTitleArr.first %}
{% assign productTitleClean = productTitleArr.last %}
{% assign productTags = product.tags | join: ', ' | downcase %}
  {%- include 'product-card-modal' -%}
{%- endfor -%}
</div>
