<div class="theme__breadcrumbs--container medium-down--hide">
  {%- include 'breadcrumbs' -%}
</div>
<div class="page-width">

{% capture arr %}
{%- for product in collection.products -%}
  {% assign colArr = product.title | split: '_' %}
  {{ colArr.first }}
{%- endfor -%}
{% endcapture %}

{% assign tagFilter = arr | split: " " | uniq  %}

{% paginate collection.products by 12 %}
{% comment %}
  <header role="banner">

    {% if collection.description != blank %}
      <div class="rte">
        {{ collection.description }}
      </div>
    {% endif %}

  </header>
  {% endcomment %}
  <div class="grid">
    <div class="text-center width--full">
      <h1 class="text-koko-blue mbot-30 text--medium text--bold">{{collection.title}}</h1>
    </div>
  </div>
  <div class="grid">
    <div class="grid__item large-up--push-one-fifth large-up--four-fifths">
      {% include 'collection-filter'%}
    </div>
  </div>
  <div class="grid">
    <div class="grid__item medium-down--hide large-up--one-fifth">
      <h3 class="margin-none text--large">{{ collection.title }}</h3>
      <div class="collection__tags--container">
        {% if collection.all_tags.size > 0 %}
        <ul class="padding-none">
          <li {% unless current_tags %} class="active pbot-15" {%- else -%} class="pbot-15"{% endunless %}>
            {% if collection.handle %}
            <a class="text-light-grey text--small hover-underline" href="/collections/{{ collection.handle }}{% if collection.sort_by %}?sort_by={{ collection.sort_by }}{% endif %}">All</a>
            {% elsif collection.current_type %}
            <a class="text-light-grey text--small hover-underline" href="{{ collection.current_type | url_for_type | sort_by: collection.sort_by }}">All</a>
            {% elsif collection.current_vendor %}
            <a class="text-light-grey text--small hover-underline" href="{{ collection.current_vendor | url_for_vendor | sort_by: collection.sort_by }}">All</a>
            {% endif %}
          </li>
            {% for tag in collection.all_tags %}
              {% if current_tags contains tag %}
              {%- if tagFilter contains tag -%}
              <li class="open pbot-15 collection__tags">
                {{ tag | link_to_remove_tag: tag }}
              </li>
              {%- endif -%}
              {% else %}
              {%- if tagFilter contains tag -%}
                <li class="pbot-15 collection__tags">
                  {{ tag | link_to_tag: tag }}
                </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>

        {% endif %}
      </div>
    </div>
    <div class="grid__item large-up--hide">
      <p class="collection__product--count">{{ collection.products.size }} Item(s)</p>
    </div>
    <div class="grid__item medium-down--one-whole large-up--four-fifths">
      <div class="collection__list--container">
        <div class="grid">
          {%- for product in collection.products -%}
          <div class="grid__item medium-down--one-half large-up--one-third">
            {% include 'product-card' %}
          </div>
          {%- endfor -%}
        </div>
      </div>
    </div>

  </div>

  {% comment %}
  <div>
    {% for product in collection.products %}
      <div>
        {% if product.featured_image != blank %}
          <a href="{{ product.url | within: collection }}">
            {{ product.featured_image.src | img_url: '480x480' | img_tag: product.featured_image.alt }}
          </a>
        {% endif %}

        <p>
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        </p>
        <p>
          {% if product.compare_at_price > product.price %}

            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              {{ 'products.product.on_sale' | t }}
              {{ product.price | money }}
            {% endif %}

          {% else %}

            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money }}
            {% endif %}

          {% endif %}

          {% if product.compare_at_price > product.price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <s>{{ product.compare_at_price | money }}</s>
          {% endif %}

          {% unless product.available %}
            {{ 'products.product.sold_out' | t }}
          {% endunless %}
        </p>
      </div>

    {% else %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
        {% for i in (1..8) %}
          <a href="#">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          </a>

          <p>
            <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
          </p>

          <p>
            {{ 1999 | money }}
          </p>
        {% endfor %}
      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}

    {% endfor %}
  </div>
  {% endcomment %}

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
{% endpaginate %}
</div>
<div class="modal product-card__modal--container" id="product__modal">
{% for product in collection.products %}
{% assign productTitleArr = product.title | split: '_' %}
{% assign collectionTitle = productTitleArr.first %}
{% assign productTitleClean = productTitleArr.last %}
  {%- include 'product-card-modal' -%}
{%- endfor -%}
</div>
{% comment %}
<script type="text/javascript">
/* Product Tag Filters - Good for any number of filters on any type of collection pages */
var collFilters = jQuery('.coll-filter');
collFilters.change(function() {
  var newTags = [];
  collFilters.each(function() {
    if (jQuery(this).val()) {
      newTags.push(jQuery(this).val());
    }
  });
  if (newTags.length) {
    var query = newTags.join('+');
    window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('/' + 'tag', '/' + query);
  }
  else {
    {% if collection.handle %}
    window.location.href = '/collections/{{ collection.handle }}';
    {% elsif collection.products.first.type == collection.title %}
    window.location.href = '{{ collection.title | url_for_type }}';
    {% elsif collection.products.first.vendor == collection.title %}
    window.location.href = '{{ collection.title | url_for_vendor }}';
    {% endif %}
  }
});
/*============================================================================
  Inline JS because collection liquid object is only available
  on collection pages and not external JS files
==============================================================================*/
Shopify.queryParams = {};
if (location.search.length) {
  for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
    aKeyValue = aCouples[i].split('=');
    if (aKeyValue.length > 1) {
      Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
    }
  }
}

$(function() {
  $('#SortBy')
    .val('{{ collection.sort_by | default: collection.default_sort_by }}')
    .bind('change', function() {
      Shopify.queryParams.sort_by = jQuery(this).val();
      location.search = jQuery.param(Shopify.queryParams);
    }
  );
});
</script>
{% endcomment %}
