<div class="grid">
  <div class="grid__item">
    <div class="collection__filter--container medium-down--hide">
      <div class="flex align-center pbot-5 justify-between ">
        <div class="collection__filter">
          <h3 class="text-medium-grey text--semibold">Filter By</h3>
          <h3 class="collection__filter--clear js-collection__filter--clear">CLEAR ALL</h3>
        </div>
        <div class="collection__sort">
          <h3 class="text-medium-grey text--semibold">Sort By</h3>
        </div>
      </div>
      <div class="collection__filters">
        <div class="">
          <select class="collection__filter--selection js-collection__filter--selection" name="skin-type">
            <option value="skin-type-0">Oily</option>
            <option value="skin-type-1">Dry</option>
            <option value="skin-type-2">Combination</option>
            <option value="skin-type-3">Normal</option>
            <option value="skin-type-4">Sensitive</option>
          </select>
          <select class="collection__filter--selection js-collection__filter--selection" name="skin-concern">
            <option value="skin-concern-1">Acne</option>
            <option value="skin-concern-2">Anti-aging</option>
            <option value="skin-concern-3">Pores</option>
            <option value="skin-concern-4">Dryness</option>
            <option value="skin-concern-5">Pigmentation</option>
            <option value="skin-concern-6">Sensitive Skin</option>

          </select>
          <select class="collection__filter--selection js-collection__filter--selection" name="brand">
            <option value="brand-1">Brand</option>
            <option value="brand-2">Brand</option>
            <option value="brand-3">Brand</option>
          </select>
        </div>
        <div class="">
          <select class="collection__filter--selection margin-none" name="" id="SortBy">
              <option value="best-selling">{{ 'collections.sorting.best_selling' }}</option>
              <option value="title-ascending">{{ 'collections.sorting.az' }}</option>
              <option value="title-descending">{{ 'collections.sorting.za' }}</option>
              <option value="price-ascending">{{ 'collections.sorting.price_ascending' }}</option>
              <option value="price-descending">{{ 'collections.sorting.price_descending' }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="large-up--hide">
      <div class="grid">
        <div class="grid__item one-half">
          <select class="collection__filter--selection" name="">
            <option value="skin-type">Skin Type</option>
            <option value="skin-type">Skin Type</option>
            <option value="skin-type">Skin Type</option>
          </select>
        </div>
        <div class="grid__item one-half">
          <select class="collection__filter--selection" name="">
            <option value="skin-type">Skin Type</option>
            <option value="skin-type">Skin Type</option>
            <option value="skin-type">Skin Type</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
