<div class="grid">
  <div class="grid__item">
    <div class="collection__filter--container medium-down--hide">
      <div class="flex align-center pbot-5 justify-between ">
        <div class="collection__filter">
          <h3 class="text-medium-grey text--semibold">Filter By</h3>
          <h3 class="collection__filter--clear js-collection__filter--clear">CLEAR ALL</h3>
        </div>
        <div class="collection__sort">
          <h3 class="text-medium-grey text--semibold">Sort By</h3>
        </div>
      </div>
      {% assign skinConcerns = 'Acne & Oil Control, All Signs of Aging, Dark Spots & Sun Spots, Dryness & Dehydration, Redness & Discoloartion, Uneven Skin Tone, Lifting & Firming' %}
      {%- for tag in collection.all_tags -%}
        {%- if skinConcerns contains tag -%}
        {%- else -%}
          {% assign hide = 'hide' %}
        {% endif %}
      {% endfor %}
      <div class="collection__filters">
        <div class="flex align-center space-between">
          <!-- <select class="collection__filter--selection js-collection__filter--selection" name="skin-type">
            <option default value="">Skin Type</option>
            <option value="oily">Oily</option>
            <option value="dry">Dry</option>
            <option value="combination">Combination</option>
            <option value="normal">Normal</option>
            <option value="sensitive">Sensitive</option>
          </select> -->
          <select class="collection__filter--selection js-collection__filter--selection {{hide}}" name="skin-concern">
            <option default value="">Skin concern</option>
            {%- for tag in collection.all_tags -%}
              {%- if skinConcerns contains tag -%}
                <option value="{{ tag | downcase }}">{{ tag }}</option>
              {%- endif -%}
            {%- endfor -%}
            <!-- <option value="acne">Acne & Oil Control</option>
            <option value="anti-aging">All Signs of Aging</option>
            <option value="pores">Dark Spots & Sun Spots</option>
            <option value="dryness">Dryness</option>
            <option value="pigmentation">Pigmentation</option>
            <option value="sensitive-skin">Sensitive Skin</option> -->
          </select>
          <select class="collection__filter--selection js-collection__filter--selection" name="brand">
            <option default value="">Brand</option>
            {%- for vendor in collection.all_vendors -%}
              {{vendor}}
              <option value="{{ vendor | downcase }}">{{ vendor }}</option>
            {%- endfor -%}
          </select>
        </div>
        <div class="">
          <select class="collection__filter--selection margin-none" name="" id="SortBy">
              <option value="best-selling">Best Selling</option>
              <option value="title-ascending">A-Z</option>
              <option value="title-descending">Z-A</option>
              <option value="price-ascending">Price Ascending</option>
              <option value="price-descending">Price Descending</option>
          </select>
        </div>
      </div>
    </div>
    <div class="large-up--hide">
      <div class="grid">
        <div class="grid__item one-whole">
          <div class="">
            <div class="collection__filter--selection--mobile js-collection__filter--selection--mobile" data-activates="collection__filter--slideout--mobile" name="">
              <p>Sort By</p>
              <div class="collection__filter-indicator--container">
                <img class="width--full" src="{{ 'icon--triangle-down.svg' | asset_url }}" alt="">
              </div>
            </div>
          </div>
        </div>
        {% comment %}
        <div class="grid__item one-half">
          <div class="">
            <!-- <div class="collection__filter--selection"  name=""> -->
              <select class="collection__filter--selection--mobile margin-none" name="" id="SortBy">
                  <option value="best-selling">Best Selling</option>
                  <option value="title-ascending">A-Z</option>
                  <option value="title-descending">Z-A</option>
                  <option value="price-ascending">Price Ascending</option>
                  <option value="price-descending">Price Descending</option>
              </select>
            <!-- </div> -->
          </div>
        </div>
        {% endcomment %}
      </div>
    </div>
    <div class="collection__filter--slideout--mobile large-up--hide side-nav width--full" id="collection__filter--slideout--mobile">
      <div class="collection__filter--slideout--mobile--controls">
        <div class="collection__filter--mobile--control--normalize">
          <a href="#close">
            <div class="collection__filter--close">
              <img class="width--full" src="{{ 'icon--close.svg' | asset_url }}" alt="">
            </div>
          </a>
        </div>
        <div class="collection__filter--mobile--control--normalize">
          <h3>Sort By</h3>
        </div>
        <div class="collection__filter--mobile--control--normalize text-right">
          <h4 class="text--reduced">Reset</h4>
        </div>
      </div>
      <ul class="collapsible collection__filter-options--mobile--container" data-collapsible="accordion">
        <!-- <li class="">
          <div class="collapsible-header collection__filter--mobile">
            <div class="collection__filter-options--mobile--header">
              <h3>Skin Type</h3>
              <div class="collection__filter--accordion-indicator">
                <img src="{{ 'icon--arrow-down.svg' | asset_url }}" alt="">
              </div>
            </div>
          </div>
          <div class="collapsible-body">
            <div class="">
              <div class="flex align-center mbot-24">
                <input id="checkbox-oily" class="mright-16" type="checkbox" name="" value="Oily">
                <label for="checkbox-oily">Oily</label>
              </div>
              <div class="flex align-center mbot-24">
                <input id="checkbox-dry" class="mright-16" type="checkbox" name="" value="Dry">
                <label for="checkbox-dry">Dry</label>
              </div>
              <div class="flex align-center mbot-24">
                <input id="checkbox-combination" class="mright-16" type="checkbox" name="" value="Combination">
                <label for="checkbox-combination">Combination</label>
              </div>
              <div class="flex align-center mbot-24">
                <input id="checkbox-normal" class="mright-16" type="checkbox" name="" value="Normal">
                <label for="checkbox-normal">Normal</label>
              </div>
              <div class="flex align-center mbot-24">
                <input id="checkbox-sensitive" class="mright-16" type="checkbox" name="" value="Sensitive">
                <label for="checkbox-sensitive">Sensitive</label>
              </div>
            </div>
          </div>
        </li> -->
        <li class="">
          <div class="collapsible-header collection__filter--mobile">
            <div class="flex align-center justify-between">
              <h3>Skin Concern</h3>
              <div class="collection__filter--accordion-indicator">
                <img src="{{ 'icon--arrow-down.svg' | asset_url }}" alt="">

              </div>
            </div>
          </div>
          <div class="collapsible-body">
            <div class="">
              {%- for tag in collection.all_tags -%}
                {%- if skinConcerns contains tag -%}
                {%- else -%}
                  {% assign hide = 'hide' %}
                {% endif %}
              {% endfor %}
              {%- for tag in collection.all_tags -%}
                {%- if skinConcerns contains tag -%}
                <div class="flex align-center mbot-24 {{hide}}">
                  <input id="checkbox-{{tag | downcase}}" class="mright-16 collection__tag--checkbox--mobile" type="checkbox" name="skin-concern" value="{{ tag | downcase }}">
                  <label for="checkbox-{{tag | downcase}}">{{ tag }}</label>
                </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </li>
        <li class="">
          <div class="collapsible-header collection__filter--mobile">
            <div class="flex align-center justify-between">
              <h3>Brand</h3>
              <div class="collection__filter--accordion-indicator">
                <img src="{{ 'icon--arrow-down.svg' | asset_url }}" alt="">

              </div>
            </div>
          </div>
          <div class="collapsible-body">
            <div class="">
              {%- for vendor in collection.all_vendors -%}
              <div class="flex align-center mbot-24">
                <input id="checkbox-{{ vendor | downcase }}" class="mright-16 collection__vendor--checkbox--mobile" type="checkbox" name="brand" value="{{ vendor | downcase }}">
                <label for="checkbox-{{ vendor | downcase }}">{{ vendor }}</label>
              </div>
              {%- endfor -%}
            </div>
          </div>
        </li>
      </ul>
      <!-- <div class="collection__apply-filter--container--mobile">
        <button class="" type="button" name="button">Apply</button>
      </div> -->
    </div>
  </div>
</div>
