<div class="index__hero--container medium-down--hide">
  <div class="js-index__hero--container">
    <!-- <div class="">
     <div class="flex">
       <div class="width--full">
         <div class="">
           <img src="{{'GWP-march.jpg' | file_img_url: '1024x768'  }}" alt="">
         </div>
       </div>
       <div class="flex-center width--full" style="background-image: url({{ 'marble.jpg' | file_img_url: '1024x768'  }})">
         <div class="index__hero--message--container">
           <div class="index__hero--message--container--inner">
             <p class="index__hero--header text-koko-blue">Choose Your Bonus</p>
             <p class="index__hero--message">your choice of a complimentary 6 piece complete skincare regimen and a signature Shiseido pouch. with any purchase of $75<br> Plus extra bonus with any $100 purchase</p>
             <p class="index__hero--message text-right">March 10 - April 1</p>
           </div>
         </div>
       </div>
     </div>
   </div> -->
    <div class="">
      <div class="flex">
        <div class="width--full">
          <div class="">
            <img src="{{'POH_5121.jpg' | file_img_url: '1024x768'  }}" alt="">
          </div>
        </div>
        <div class="flex-center width--full" style="background-image: url({{ 'marble.jpg' | file_img_url: '1024x768'  }})">
          <div class="index__hero--message--container">
            <div class="index__hero--message--container--inner">
              <p class="index__hero--header text-koko-blue">Welcome to the new KokoBeaute.com</p>
              <p class="index__hero--message">We would love to share with you our expertise in the award-winning beauty products from Shiseido, Clé de Peau Beauté and the prestigious Synactif.
              We look forward serving you in-store or wherever you are online!</p>
              <p class="index__hero--message text-right">-Koko Beaute</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="">
      <div class="flex">
        <div class="flex-center width--full" style="background-image: url({{ 'marble.jpg' | file_img_url: '1024x768'  }})">
          <div class="index__hero--message--container">
            <div class="index__hero--message--container--inner">
              <p class="index__hero--header text-koko-blue">More to come</p>
              <p class="index__hero--message">This is just our very first step in providing you the convenience of online shopping and staying closer in touch with you.  More features and promotions are to follow to make your Shiseido shopping experience most pleasant.  So, please check us out often.  Thank you!</p>
              <p class="index__hero--message text-right">-Tina Ko</p>
            </div>
          </div>
        </div>
        <div class="width--full">
          <div class="">
            <img src="{{'tina.jpg' | file_img_url: '1024x768'  }}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
