<div class="product-card__modal--exit js-user__modal--exit">
  <img src="{{ 'icon--close.svg' | asset_url }}" alt="">
</div>

    <div class="user__form--wrapper">
      <div class="form-success hide" id="ResetSuccess">
        {{ 'customer.recover_password.success' | t }}
      </div>

      <div id="CustomerLoginForm">
        {% form 'customer_login' %}
        <h2 class="text-center">Welcome Back!</h2>
        <p class="text-center">Please log in</p>

        {{ form.errors | default_errors }}
        <div class="grid">
          <div class="grid__item">
            <div class="user__form--input--container">
              <label for="CustomerEmail" >
                {{ 'customer.login.email' | t }}
              </label>
              <input type="email"
              name="customer[email]"
              id="CustomerEmail"
              class="width--full {% if form.errors contains 'email' %}input-error{% endif %}"

              spellcheck="false"
              autocomplete="off"
              autocapitalize="off"
              autofocus>
            </div>
          </div>
          <div class="grid__item">
            <div class="user__form--input--container">
              {% if form.password_needed %}
              <label for="CustomerPassword" >
                {{ 'customer.login.password' | t }}
              </label>
              <input type="password"
              name="customer[password]"
              id="CustomerPassword"
              class="width--full {% if form.errors contains 'password' %}input-error{% endif %}">
              {% endif %}
            </div>
          </div>
          <div class="grid__item">
            <div class="user__form--input--container">
              <input type="submit" class="width--full btn user__form--submit" value="{{ 'customer.login.sign_in' | t }}">
            </div>
          </div>
          <div class="grid__item">
            <div class="text-center">
              <div class="user__form--input--container">
                {% if form.password_needed %}
                <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
                {% endif %}
              </div>

                <p class="js-user__register--open text-center text-underline">
                  {{ 'layout.customer.create_account' | t }}
                </p>
              </div>

          </div>
        </div>


        {% comment %}
        <a href="/">{{ 'customer.login.cancel' | t }}</a>
        {% endcomment %}
        {% endform %}

      </div>

      <div id="RecoverPasswordForm" class="hide">
        <h2>{{ 'customer.recover_password.title' | t }}</h2>
        <p>{{ 'customer.recover_password.subtext' | t }}</p>

        {% form 'recover_customer_password' %}
        {{ form.errors | default_errors }}

        {% if form.posted_successfully? %}
        <span class="hide reset-password-success"></span>
        {% endif %}

        <label for="RecoverEmail" >
          {{ 'customer.recover_password.email' | t }}
        </label>
        <input type="email"
        name="email"
        id="RecoverEmail"
        placeholder="{{ 'customer.recover_password.email' | t }}"
        spellcheck="false"
        autocomplete="off"
        autocapitalize="off">

        <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">

        <button type="button" id="HideRecoverPasswordLink">
          {{ 'customer.recover_password.cancel' | t }}
        </button>
        {% endform %}

      </div>

      {% if shop.checkout.guest_login %}
      <h2>{{ 'customer.login.guest_title' | t }}</h2>

      {% form 'guest_login' %}
      <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
      {% endform %}
      {% endif %}
    </div>
