{% comment %}
<div class="navigation__dropdown--container medium-down--hide bg-white">
  {%- for link in linklists['main-menu'].links -%}
  {% assign link_handle = link.title | handle %}
  <div class="grid">
    <div class="grid__item one-fifth">
      <div class="dropdown__main-links--container js-dropdown__main-links--container" data-source="{{link_handle}}" >
        {%- for child_link in linklists[link_handle].links -%}
        {% assign child_handle = child_link.title | handle %}
        <h4 class="js-navigation__dropdown-link--activate" data-target="{{child_handle}}">{{child_link.title}}</h4>
        {%- endfor -%}
      </div>
    </div>
    <div class="grid__item four-fifths">
      <div class="">
        <div class="flex flex-wrap" style="border-bottom: 1px solid black">
          {%- for child_link in linklists[link_handle].links -%}
          {% assign child_handle = child_link.title | handle %}
          <div class="js-navigation__dropdown-section navigation__dropdown-section" data-source="{{child_handle}}">
            {%- for grand_child_link in linklists[child_handle].links -%}
            {% assign grand_child_handle = grand_child_link.title | handle %}

            <div class="{% if forloop.first %} active {% endif %}">
              <p class="text-light-grey text--bold">{{ grand_child_link.title }}</p>
            </div>
            <div class="{% if forloop.first %} active {% endif %}">
              {%- if linklists[grand_child_handle].links.size > 0 -%}
              {%- for great_grand_child_link in linklists[grand_child_handle].links -%}
              <div class="">
                <p class="text-light-grey">{{ great_grand_child_link.title }}</p>
              </div>
              {%- endfor -%}
              {%- endif -%}
            </div>
            {%- endfor -%}
          </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
  {%- endfor -%}
</div>
{% endcomment %}

<div class="js-header__dropdown bg-white medium-down--hide">
  {%- for link in linklists['main-menu'].links -%}
    {% assign link_handle = link.title | handle %}
    {%- if linklists[link_handle].links.size > 0-%}
    <div class="header__dropdown js-dropdown--container" data-source="{{link_handle}}">
      <div class="grid">
        <div class="grid__item one-fifth">
          <div class="text-right">
            {%- for child_link in linklists[link_handle].links -%}
            {% assign child_handle = child_link.title | handle %}
            <p class="js-dropdown__mainlink text-light-grey dropdown__mainlink" data-target="{{child_handle}}"><span class="{%- if forloop.first -%}active{%- endif -%}">{{ child_link.title }}</span></p>
            {%- endfor -%}
          </div>
        </div>
        <div class="grid__item four-fifths">
          <div class="dropdown__sublinks--container">
            {%- for child_link in linklists[link_handle].links -%}
              {% assign child_handle = child_link.title | handle %}
              <div class="{%- if forloop.first -%}active &nbsp;{%- endif -%} hidden js-dropdown__sublinks dropdown__sublinks" data-source="{{child_handle}}">
              {%- for grand_child_link in linklists[child_handle].links -%}
                {% assign grand_child_link_handle = grand_child_link.title | handle %}
                <h3 class="text-light-grey">{{grand_child_link.title}}</h3>
                {%- for great_grand_child_link in linklists[grand_child_link_handle].links -%}
                  <p class="text-light-grey">{{ great_grand_child_link.title }}<p/>
                {%- endfor -%}
              {%- endfor -%}
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
    {%- endif -%}
  {%- endfor -%}
</div>
