<div class="navigation__cart-dropdown">
  <div class="flex mbot-18">
    <div class="navigation__cart-dropdown-check-icon">
    </div>
    <p class=""><span class="js-navigation__cart-dropdown--quantity-added-to-cart">0</span> Item Added To Cart</p>
  </div>
  <div class="navigation__cart-dropdown--cards--container">
    {%- for item in cart.items -%}

      {% assign itemSplitTitle = item.title | split: '_' %}
      {% assign itemTitle = itemSplitTitle.last %}
      {% assign itemTitleArr = itemTitle | split: '-' %}

      <div class="navigation__cart-dropdown--item-details relative js-navigation__cart-dropdown--card" data-card-id="{{item.id}}">
        <div class="navigation__cart-dropdown--remove-item js-navigation__cart-dropdown--remove-item" data-card-id="{{item.id}}">
          <img src="{{ 'icon--close.svg' | asset_url }}" alt="">
        </div>
        <div class="flex">
          <a href="{{item.url}}">
            <div class="navigation__cart-dropdown--added-item-image">
              <img class="width--full" src="{{ item.image |  img_url: 'small' }}" alt="">
            </div>
          </a>
          <div class="navigation__cart-dropdown--item--detail--container js-navigation__cart-dropdown--item--detail--container">
            <div class="mright-8">
              <div class="flex justify-between text--small text--bold mbot-8">
                <p>{{item.vendor}}</p>
              </div>
              <div class="text--semi-small mbot-8">
                <p class="mbot-8">{{ itemTitleArr.first }}</p>
                <p>{{ itemTitleArr.last }}</p>
              </div>
              <div class="flex-center-between width--full">
                <!-- <div class="flex-center">
                  <p class="text--smaller text--reduced text-lighter-grey">QTY:</p>
                   <input class="js-navigation__cart-dropdown--card--quantity--changer navigation__cart-dropdown--card--quantity--changer js-navigation__cart-dropdown--card--quantity" type="number" name="" value="{{item.quantity}}" data-card-id="{{item.id}}" data-quantity="{{item.quantity}}">
                </div>
                <div class="">
                  <button type="button" name="button" class="navigation__cart-dropdown--card--quantity--changer--apply js-navigation__cart-dropdown--card--quantity--changer--apply" data-item-id="{{ item.id }}">CHANGE</button>
                  <button type="button" name="button" class="navigation__cart-dropdown--card--quantity--changer--apply complete hide" data-item-id="{{ item.id }}">CHANGED</button>
                </div> -->
                <select class="js-navigation__dropdown--quantity--update" name="" data-item-id="{{item.id}}">
                  <option value="{{item.quantity}}" default>{{item.quantity}}</option>
                  {%- for i in (0..10) -%}
                    <option value="{{i}}">{{i}}</option>
                  {%- endfor -%}
                </select>
              </div>
            </div>
            <div class="">
              <p class="text--bold text--small">{{item.price | money }}</p>
            </div>
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
  <div class="">
    <div class="flex justify-between mbot-24">
      <p>Subtotal</p>
      <p class="navigation__cart--dropdown--total-price">{{cart.total_price | money }}</p>
    </div>
    <a href="/cart">
      <button class="btn navgation__cart-dropdown--cart-btn" type="button" name="button">TO CART</button>
    </a>
  </div>
  <div class="mtop-16 text-center">
    <p class="text-bold text-black">Free shipping on orders over $50!</p>
  </div>
</div>
