<div class="is-fixed width--full js-theme__header--container theme__header--container">
  <div class="theme__promotion-bar bg-grey flex align-center justify-center text-white text--small">
    <p>Free Shipping on Orders Over $125</p>
  </div>
  <!-- DESKTOP NAV -->
  <div class="theme__navigation medium-down--hide">
    <div class="flex align-center">
      <div class="navigation__logo--container">
        <h2 class="text--bold text--extra-large">KOKO BEAUTE</h2>
      </div>
      <div class="flex align-center">
        {%- for link in linklists['main-menu'].links -%}
        {% assign link_handle = link.title | handle %}
        {%- if linklists[link_handle].links.size > 0 -%}
          {% assign childCount = true %}
        {%- else condition -%}
          {% assign childCount = false %}
        {%- endif -%}
        {%- if linklists[link_handle].links.size > 0 -%}
          <div class="js-navigation__link navigation__link flex align-center" data-active="{{link_handle}}" data-count="{{childCount}}">
            <p class="navigation__link--text">{{ link.title }}</p>
          </div>
        {%- else -%}
          <a href="{{link.url}}">
            <div class="js-navigation__link navigation__link flex align-center" data-active="{{link_handle}}" data-count="{{childCount}}">
              <p class="navigation__link--text">{{ link.title }}</p>
            </div>
          </a>
        {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
    <div class="navigation__user-controls--container">
      <p class="nowrap text-light-grey">SIGN IN</p>
      <div class="">
        |
      </div>
      <div class="navigation__icons--container">
        <div class="navigation__search-icon--container">
          <img src="{{ 'icon--search.svg' | asset_url }}" alt="">
        </div>
        <div class="navigation__bag-icon--container">
          <img src="{{ 'icon--bag.svg' | asset_url }}" alt="">
        </div>
      </div>
    </div>
  </div>

  {%- include 'navigation-dropdown' -%}

  <!-- DESKTOPNAV  -->
  <!-- MOBILENAV -->
  <div class="m-theme__navigation z-depth-2 large-up--hide flex justify-between align-center psides-15">
    <div class="navigation__search--container">
      <a href="/search">
        <div class="navigation__icon--container">
          <img src="{{ 'icon--search.svg' | asset_url }}" alt="">
        </div>
      </a>

    </div>

    <h2 class="text--bold">KOKO BEAUTE</h2>

    <div class="flex justify-around navigation__user-controller--container align-center">
      <div class="navigation__cart--container">
        <a href="/cart">
          <div class="navigation__icon--container">
            <img src="{{ 'icon--bag.svg' | asset_url }}" alt="">
          </div>
        </a>
      </div>
      <div class="navigation__hamburger--container js-navigation__collapse" data-activates="main-menu">
        <div class="navigation__icon--container">
          <img src="{{ 'icon--hamburger.svg' | asset_url }}" alt="">
        </div>
      </div>
    </div>
  </div>

</div>
  {% include 'sidebar' %}
<!-- MOBILENAV -->
