<div class="navigation__cart-dropdown">
  <div class="flex mbot-18">
    <div class="navigation__cart-dropdown-check-icon">
    </div>
    <p>1 Item Added To Cart</p>
  </div>
  <div class="navigation__cart-dropdown--cards--container">
    {%- for item in cart.items -%}

      {% assign itemSplitTitle = item.title | split: '_' %}
      {% assign itemTitle = itemSplitTitle.last %}
      <div class="navigation__cart-dropdown--item-details relative js-navigation__cart-dropdown--card" data-card-id="{{item.id}}">
        <a href="{{item.url}}">
          <div class="navigation__cart-dropdown--added-item-image">
            <img class="width--full" src="{{ item.image |  img_url: 'small' }}" alt="">
          </div>
        </a>
        <div class="navigation__cart-dropdown--item--detail--container">
          <div class="mright-8">
            <div class="flex justify-between text--small text--bold mbot-8">
              <p>{{item.vendor}}</p>
            </div>
            <div class="text--semi-small mbot-8">
              <p class="mbot-8">{{ itemTitle }}</p>
            </div>
            <p class="text--smaller text--reduced text-lighter-grey">QTY: <span class="js-navigation__cart-dropdown--card--quantity" data-card-id="{{item.id}}" data-quantity="{{item.quantity}}">{{item.quantity}}</span></p>
          </div>
          <div class="">
            <p class="text--bold text--small">{{item.price | money }}</p>
          </div>
          <div class="navigation__cart-dropdown--remove-item js-navigation__cart-dropdown--remove-item" data-card-id="{{item.id}}">
            <img src="{{ 'icon--close.svg' | asset_url }}" alt="">
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
  <div class="">
    <div class="flex justify-between mbot-24">
      <p>Subtotal</p>
      <p>{{cart.total_price | money }}</p>
    </div>
    <a href="/checkout">
      <button class="btn navgation__cart-dropdown--cart-btn" type="button" name="button">CHECKOUT</button>
    </a>
  </div>
  <div class="mtop-16 text-center">
    <p class="text-bold text-black">Free shipping on orders over $120!</p>
  </div>
</div>
