<div class="is-fixed width--full js-theme__header--container theme__header--container">
  <div class="theme__promotion-bar text--small">
    <div class="js-navigation__slider navigation__slider">
      <p>Free Shipping on Orders Over $100</p>
      <p>Koko Beauté: Established in 2003</p>
    </div>
  </div>
  <!-- DESKTOP NAV -->
  <div class="medium-down--hide">
    <div class="page-width">
      <div class="theme__navigation">
      <div class="flex align-center">
        <div class="navigation__logo--container">
          <a class="text-koko-blue" href="/"><img src="https://cdn.shopify.com/s/files/1/2526/6552/files/KoKo_Logo.jpg?12989210517360532989"></a>
        </div>
        <div class="flex align-center">
          {%- for link in linklists['main-menu'].links -%}
          {% assign link_handle = link.title | handle %}
          {%- if linklists[link_handle].links.size > 0 -%}
            {% assign childCount = true %}
          {%- else condition -%}
            {% assign childCount = false %}
          {%- endif -%}


          {% if linklists[link_handle].links.size > 0 %}
          <div class="js-navigation__link navigation__link flex align-center cursor--pointer" data-active="{{link_handle}}" data-count="{{childCount}}">
            <p class="navigation__link--text">{{ link.title }}</p>
          </div>
          {%- else -%}
            <a href="{{link.url}}">
              <div class="js-navigation__link navigation__link flex align-center cursor--pointer" data-active="{{link_handle}}" data-count="{{childCount}}">
                <p class="navigation__link--text">{{ link.title }}</p>
              </div>
            </a>
          {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
      <div class="navigation__user-controls--container">
        {%- if customer -%}
          <a href="/account/logout">  <p class="nowrap text-light-grey cursor--pointer text--semi-small">LOG OUT</p></a>
        {%- else  -%}
          <p class="nowrap text-light-grey cursor--pointer text--semi-small modal-trigger" href="#login-modal">LOG IN</p>
          <!-- <a href="/account/login"><p class="nowrap text-light-grey cursor--pointer text--semi-small">LOG IN</p></a> -->
        {%- endif -%}
        <div class="">
          |
        </div>
        <div class="navigation__icons--container ">
          <div class="navigation__icon--outer-container relative">
            <div class="navigation__search-icon--container js-navigation__search-icon--container cursor--pointer">
              <img src="{{ 'icon--search.svg' | asset_url }}" alt="">
            </div>
            <div class="navigation__searchbar--container--outer hide">
              <div class="navigation__searchbar--container">
                <form class="navigation__search--form search" action="/search">
                  <input class="width--full" type="text" placeholder="What can we help you find?" name="q" value="{{ search.terms | escape }}"  />
                  <input class="hide" type="submit" value="Search" />
                </form>
              </div>
            </div>
          </div>
          <div class="navigation__icon--outer-container navigation__icon--outer-container--cart js-navigation__icon--outer-container--cart">
            <a href="/cart">
              <div class="navigation__bag-icon--container cursor--pointer">
                <img src="{{ 'icon--bag.svg' | asset_url }}" alt="">
              </div>
            </a>
            {%- include 'navigation-cart-dropdown' -%}
          </div>

        </div>
      </div>
    </div>

    </div>
  </div>

  {%- include 'navigation-dropdown' -%}

  <!-- DESKTOPNAV  -->
  <!-- MOBILENAV -->
  <div class="m-theme__navigation large-up--hide">
    <div class="page-width">
      <div class="flex justify-between align-center">
        <div class="navigation__search--container js-navigation__search-icon--container">
            <div class="navigation__icon--container">
              <img src="{{ 'icon--search.svg' | asset_url }}" alt="">
            </div>
        </div>

        <a class="text-koko-blue" href="/"><h2 class="text--bold">KOKO BEAUTÉ</h2></a>

        <div class="flex justify-around navigation__user-controller--container align-center">
          <div class="navigation__cart--container">
            <a href="/cart">
              <div class="navigation__icon--container">
                <img src="{{ 'icon--bag.svg' | asset_url }}" alt="">
              </div>
            </a>
          </div>
          <div class="navigation__hamburger--container js-navigation__collapse" data-activates="main-menu">
            <div class="navigation__icon--container">
              <img src="{{ 'icon--hamburger.svg' | asset_url }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
  {% include 'sidebar' %}
<!-- MOBILENAV -->
