<div class="product-card__modal--inner hide" id="{{ product.id }}">
  <div class="product-card__modal--exit js-product-card__modal--exit">
    <img src="{{ 'icon--close.svg' | asset_url }}" alt="">
  </div>
  <div class="grid">
    <div class="grid__item five-twelfths">
      <div class="collection__product-image--container--inner">
        <img class="width--full" src="{{product.images.first.src | img_url: '480x'}}" alt="">
      </div>
    </div>
    <div class="grid__item seven-twelfths">
      <div class="product-card__modal--details--container">
        <div class="">
          <p class="product-card__modal--details--vendor">{{ collectionTitle }}</p>
          <p class="product-card__modal--details--title">{{ productTitleClean}}</p>
          <p class="product-card__modal--details--price pdp__info--price"  data-product-id="{{ product.id }}">{{ product.price | money }}</p>
          <p class="product-card__modal--details--description">{{ product.description | truncate: 70 }}</p>
          <div class="text-right">
            <a href="{{product.url}}"><p class="product-card__modal--details--link">Product Details</p></a>
          </div>
        </div>
        <div class="">
          <div class="">
            <p class="mbot-16">Select Size</p>
            <div class="grid">
              {%- if product.variants.size < 2 -%}
                {% assign single = 'single' %}
              {%- else -%}
                {% assign single = 'not' %}

              {%- endif -%}
              {%- if product.variants.size > 0 -%}
                {%- if product.type == "Lipstick" -%}

                  {%- for variant in product.variants -%}
                    {%- if variant.title == "Default Title" -%}
                    {%- else -%}
                    <div class="grid__item one-sixth">
                      <div class="mbot-8 js-pdp__variant--container pdp__variant--palette--container {{single}}" data-product-id="{{product.id}}" data-variant-id="{{ variant.id }}" data-variant-price="{{ variant.price }}" data-variant-img="{{ variant.image.src | img_url: '480x' }}">
                          <img src="{{ variant.image.src | img_url: '480x' }}" alt="">
                          {% comment %}
                          <p class="text-center">{{ varTitle }}</p>
                          {% endcomment %}
                      </div>
                    </div>
                    {%- endif -%}
                  {%- endfor -%}
                {%- else -%}
                  {%- for variant in product.variants -%}
                    {%- if variant.title == "Default Title" -%}
                    {%- else -%}
                      <div class="grid__item one-quarter">
                        <div class="product-card__modal--variant pdp__variant--container {{single}}" data-product-id="{{product.id}}" data-variant-id="{{variant.id}}" data-variant-title="{{ variant.title }}" data-variant-price="{{ variant.price }}">
                          <p>{{ variant.title }}</p>
                        </div>
                      </div>
                    {%- endif -%}
                  {%- endfor -%}
                {% endif %}
              {% endif %}
            </div>
          </div>
          <hr class="product-card__modal--hr">
          <div class="flex">
            <div class="mright-16">
              <div class="product-card__modal--quantity-incrementor--container">
                <div class="js-quantity--decrementor product-card__modal--quantity-incrementor cursor--pointer">
                  <img src="{{ 'icon--minus.svg' | asset_url }}" alt="">
                </div>
                <p class="js-quantity--current" data-product-id="{{product.variants.first.id}}">1</p>
                <div class="js-quantity--incrementor product-card__modal--quantity-incrementor cursor--pointer">
                  <img src="{{ 'icon--plus.svg' | asset_url }}" alt="">
                </div>
              </div>
            </div>
            <div class="product-card__modal--add-to-cart js-product-card__modal--add-to-cart" data-product-id="{{product.id}}" data-variant-title="{{ product.variants.first.title }}" data-variant-id="{{product.variants.first.id}}" data-product-image="{{product.images.first.src | img_url: 'small'}}" data-product-vendor="{{product.vendor}}" data-product-title="{{productTitleClean}}" data-product-quantity="1" data-product-price="{{ product.price | money }}">
              <p>ADD TO CART</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
