<div class="product-card__modal--exit js-user__modal--exit">
  <img src="{{ 'icon--close.svg' | asset_url }}" alt="">
</div>
    <div class="user__form--wrapper">

      <h2 class="text-center">Welcome to Koko Beaute!</h2>
      <p class="text-center text--medium">Create Account</p>

      {% form 'create_customer' %}
        {{ form.errors | default_errors }}

        <div class="grid">
          <div class="grid__item">
            <div class="user__form--input--container">
              <label for="Email" >
                EMAIL ADDRESS
              </label>
              <input type="email"
              name="customer[email]"
              id="Email"
              class="width--full {% if form.errors contains 'email' %}input-error{% endif %}"
              value="{% if form.email %}{{ form.email }}{% endif %}"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off">
            </div>
          </div>
          <div class="grid__item">
            <div class="user__form--input--container">
              <label for="CreatePassword" >
                PASSWORD
              </label>
              <input type="password"
              name="customer[password]"
              id="CreatePassword"
              class="width--full {% if form.errors contains 'password' %}input-error{% endif %}"
              >
            </div>
          </div>
          <div class="grid__item">
            <div class="user__form--input--container">
              <label for="FirstName" >
                FIRST NAME
              </label>
              <input class="width--full" type="text"
              name="customer[first_name]"
              id="FirstName"

              autofocus
              {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>
            </div>
          </div>
          <div class="grid__item">
            <div class="user__form--input--container">
              <label for="LastName" >
                LAST NAME
              </label>
              <input class="width--full" type="text"
              name="customer[last_name]"
              id="LastName"

              {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
            </div>
          </div>
          <div class="grid__item">
            <div class="user__form--input--container">
              <p>
                <input class="width--full user__form--submit btn" type="submit" value="CREATE ACCOUNT">
              </p>
            </div>
          </div>
          <div class="grid__item">
            <div class="flex-center-center">
              <p class="text-default user-form--login--link js-user__login--open text-underline">Log in with an existing account</p>
            </div>
          </div>
        </div>
      {% endform %}
    </div>
