<div id="slide-left" class="side-nav bg-white">

  <div class="sidebar__close">
    <div class="sidebar__icon-close--container">
      <img src="{{ 'icon--close.svg' | asset_url }}" alt="">
    </div>
  </div>
  <ul class="pleft-30 collapsible" data-collapsible="accordion">
    {%- for link in linklists['main-menu'].links -%}
    {% assign link_handle = link.title | handle %}
    <li data-toggle="{{ link_handle }}">
      <div class="sidebar__link collapsible-header">
        <p>{{link.title}}</p>

        {%- if linklists[link_handle].links.size > 0 -%}
        <div class="icon--expansion--container js-expansion--open" data-open="{{ link_handle }}">
          <img src="{{ 'icon--plus.svg' | asset_url }}" alt="">
        </div>
        <div class="icon--expansion--container js-expansion--close hide" data-close="{{ link_handle }}">
          <img src="{{ 'icon--minus.svg' | asset_url }}" alt="">
        </div>
        {%- endif -%}
      </div>


      <div class="collapsible-body">
        <ul class="collapsible" data-collapsible="accordion">
        {%- for child_link in linklists[link_handle].links -%}
        {% assign child_handle = child_link.title | handle %}
        <li data-toggle="{{child_handle}}">
        <div class="sidebar__link collapsible-header">
          <p>{{ child_link.title }}</p>

          {%- if linklists[child_handle].links.size > 0 -%}
          <div class="icon--expansion--container js-expansion--open" data-open="{{ child_handle }}">
            <img src="{{ 'icon--plus.svg' | asset_url }}" alt="">
          </div>
          <div class="icon--expansion--container js-expansion--close hide" data-close="{{ child_handle }}">
            <img src="{{ 'icon--minus.svg' | asset_url }}" alt="">
          </div>
          {%- endif -%}
        </div>

        <div class="collapsible-body pleft-20" >
          <ul class="collapsible" data-collapsible="accordion">
          {%- for grand_child_link in linklists[child_handle].links -%}
          {% assign grand_child_handle = grand_child_link.title | handle %}
        <li data-toggle="{{ grand_child_handle }}">
          <div class="sidebar__link collapsible-header">
            <p>{{ grand_child_link.title }}</p>

            {%- if linklists[grand_child].links.size > 0 -%}
            <div class="icon--expansion--container js-expansion--open" data-open="{{ grand_child_handle }}">
              <img src="{{ 'icon--plus.svg' | asset_url }}" alt="">
            </div>
            <div class="icon--expansion--container js-expansion--close hide" data-close="{{ grand_child_handle }}">
              <img src="{{ 'icon--minus.svg' | asset_url }}" alt="">
            </div>
            {%- endif -%}
          </div>
          <div class="pleft-20 collapsible-body">
            {%- if linklists[grand_child_handle].links.size > 0 -%}
            {%- for great_grand_child_link in linklists[grand_child_handle].links -%}
            <div class="sidebar__link">
              <p>{{ great_grand_child_link.title }}</p>
              {%- if linklists[grand_child_handle].links.size > 0 -%}
              <div class="icon--expansion--container js-expansion--open">
                <img src="{{ 'icon--plus.svg' | asset_url }}" alt="">
              </div>
              <div class="icon--expansion--container js-expansion--close hide">
                <img src="{{ 'icon--minus.svg' | asset_url }}" alt="">
              </div>
              {%- endif -%}
            </div>
            {%- endfor -%}
            {% else %}

            {%- endif -%}
          </div>
        </li>
          {%- endfor -%}
        </ul>
        </div>
      </li>
        {%- endfor -%}
        </ul>
      </div>
    </li>
    {%- endfor -%}
  </ul>
</div>
