<div class="index__bestseller-title--container medium-down--hide">
  <h3 class="index__bestseller--title">Begin Shopping</h3>
</div>
<div class="index__featured-collection--container--outter">

<div class="grid medium-down--hide">
  <div class="grid__item large-up--one-third medium-down--one-whole mbot-8">
    <div class="index__featured-collection--container">
      <div class="featured-collection__img--container">
        {% comment %}
        {%- if section.settings.card_image_one -%}
          <img class="width--full" src="{{ section.settings.card_image_one | img_url: 'large' }}" alt="">
        {%- else -%}

        {%- endif -%}
        {% endcomment %}
        <img class="width--full height--full" src="{{ 'index_shiseido.jpg' | file_img_url: '1024x768' }}" alt="">

      </div>
      <a href="/collections/shiseido">
        <div class="featured-collection__cover-text--container">
          <h2 class="featured-collection__cover-text">SHISEIDO</h2>
          <div class="featured-collection__cover-arrow--outer">
            <div class="featured-collection__cover-arrow--inner">
              <img src="{{ 'right-arrow.svg' | asset_url }}" alt="">
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="grid__item large-up--one-third medium-down--one-whole mbot-8">
    <div class="index__featured-collection--container">
      <div class="featured-collection__img--container">
        {% comment %}
        {%- if section.settings.card_image_two -%}
          <img class="width--full" src="{{ section.settings.card_image_two | img_url: 'large' }}" alt="">
        {%- else -%}

        {%- endif -%}
        {% endcomment %}
        <img class="width--full height--full" src="{{ 'index_cdp.jpg' | file_img_url: '1024x768' }}" alt="">


      </div>
      <a href="/collections/cle-de-peau">
        <div class="featured-collection__cover-text--container">
          <h2 class="featured-collection__cover-text">CLE DE PEAU</h2>
          <div class="featured-collection__cover-arrow--outer">
            <div class="featured-collection__cover-arrow--inner">
              <img src="{{ 'right-arrow.svg' | asset_url }}" alt="">
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="grid__item large-up--one-third medium-down--one-whole mbot-8">
    <div class="index__featured-collection--container">

      <div class="featured-collection__img--container">
        {% comment %}
        {%- if section.settings.card_image_three -%}
          <img class="width--full" src="{{ section.settings.card_image_three | img_url: 'large' }}" alt="">
        {%- else -%}

        {%- endif -%}
        {% endcomment %}
        <img class="width--full height--full" src="{{ 'index_syn.jpg' | file_img_url: '1024x768' }}" alt="">

      </div>
      <a href="/collections/synactif">
        <div class="featured-collection__cover-text--container">
          <h2 class="featured-collection__cover-text">SYNACTIF</h2>
          <div class="featured-collection__cover-arrow--outer">
            <div class="featured-collection__cover-arrow--inner">
              <img src="{{ 'right-arrow.svg' | asset_url }}" alt="">
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  {% comment %}
  <div class="grid__item large-up--one-third medium-down--one-whole mbot-8">
    <div class="index__featured-collection--container">

      <div class="featured-collection__img--container">
        {%- if section.settings.card_image_four -%}
          <img class="width--full" src="{{ section.settings.card_image_four | img_url: 'large' }}" alt="">
        {%- else -%}

        {%- endif -%}
      </div>
      <div class="featured-collection__cover-text--container">
        <h2 class="featured-collection__cover-text">{{ section.settings.card_title_four }}</h2>
        <div class="featured-collection__cover-arrow--outer">
          <div class="featured-collection__cover-arrow--inner">
            <img src="{{ 'right-arrow.svg' | asset_url }}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endcomment %}
</div>
</div>


{% schema %}
  {
    "name" : "Featured Collection Cards",
    "settings" : [
      {
        "id": "card_image_one",
        "type": "image_picker",
        "label": "Card Image One"
      },
      {
        "id" : "card_title_one",
        "type": "text",
        "label": "Card Title One"
      },
      {
        "id": "card_image_two",
        "type": "image_picker",
        "label": "Card Image Two"
      },
      {
        "id" : "card_title_two",
        "type": "text",
        "label": "Card Title Two"
      },
      {
        "id": "card_image_three",
        "type": "image_picker",
        "label": "Card Image Three"
      },
      {
        "id" : "card_title_three",
        "type": "text",
        "label": "Card Title Three"
      },
      {
        "id": "card_image_four",
        "type": "image_picker",
        "label": "Card Image Four"
      },
      {
        "id" : "card_title_four",
        "type": "text",
        "label": "Card Title Four"
      }
    ]
  }
{% endschema %}
