{% comment %}
<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

  {% if featured_image != blank %}
    <img src="{{ featured_image | img_url: '480x480' }}" alt="{{ featured_image.alt | escape }}" data-product-featured-image>
  {% endif %}

  {% if product.images.size > 1 %}
    <ul>
      {% for image in product.images %}
        <li>
          <a href="{{ image.src | img_url: '480x480' }}" data-product-single-thumbnail>
            <img src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <h1>{{ product.title }}</h1>
  <p>{{ product.vendor }}</p>

  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
    <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

    <form action="/cart/add" method="post" enctype="multipart/form-data">
      {% unless product.has_only_default_variant %}
        {% for option in product.options_with_values %}
          <div class="selector-wrapper js">
            <label for="SingleOptionSelector-{{ forloop.index0 }}">
              {{ option.name }}
            </label>

            <select
              id="SingleOptionSelector-{{ forloop.index0 }}"
              data-single-option-selector
              data-index="option{{ option.position }}">
              {% for value in option.values %}
                <option
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}selected="selected"{% endif %}>
                    {{ value }}
                </option>
              {% endfor %}
            </select>
          </div>
        {% endfor %}
      {% endunless %}

      <select name="id" class="no-js" data-product-select>
        {% for variant in product.variants %}
          <option
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled="disabled"{% endunless %}
            value="{{ variant.id }}">
              {{ variant.title }}
          </option>
        {% endfor %}
      </select>

      <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
      <input type="number" id="Quantity" name="quantity" value="1" min="1">

      <div data-price-wrapper>
        <span data-product-price>
          {{ current_variant.price | money }}
        </span>

        {% if product.compare_at_price_max > product.price %}
          <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          <s data-compare-price>
            {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money }}
            {% endif %}
          </s>
        {% endif %}
      </div>

      <button
        type="submit"
        name="add"
        data-add-to-cart
        {% unless current_variant.available %}disabled="disabled"{% endunless %}>
          <span data-add-to-cart-text>
            {% if current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>
      </button>
    </form>

  </div>

  <div class="rte">
    {{ product.description }}
  </div>

  {% if section.settings.show_share_buttons %}
    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
  {% endif %}

  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}
</div>


{% endcomment %}
{% assign productTitleArr = product.title | split: '_' %}
{% assign collectionTitle = productTitleArr.first %}
{% assign productTitleClean = productTitleArr.last %}
<div class="pdp__detail--container medium-down--hide">
  <div class="page-width " style="padding: 0 60px;">
    <div class="grid pdp__grid medium-down--hide">
      <div class="grid__item pdp__grid-item one-half">
        <div class="pdp__breadcrumbs--container">
          {%- include 'breadcrumbs' -%}
        </div>
      </div>
      <div class="grid__item pdp__grid-item one-half">
      </div>
    </div>
    <div class="grid large-up--hide">
      <div class="grid__item medium-down--one-whole">
        <div class="">
          <h3 class="pdp__info--vendor">{{ product.vendor }}</h3>
          <h3>{{ product.collections }}</h3>
          <h2 class="pdp__info--title">{{ productTitleClean }}</h2>
        </div>
      </div>
    </div>
    <div class="grid pdp__grid">
      <div class="grid__item pdp__grid-item large-up--one-half medium-down--one-whole">
        <div class="pdp__image--container">
          <div class="pdp__image">

              <img class="width--full" src="{{product.images.first.src | img_url: '480x'}}" alt="">

          </div>
        </div>
      </div>
      <div class="grid__item pdp__grid-item large-up--one-half medium-down--one-whole">
        <div class="pdp__info--container">
          <div class="medium-down--hide">
            {% comment %}
            <h3 class="pdp__info--vendor">{{ product.vendor }}</h3>
            {% endcomment %}
            <h3 class="pdp__col--title">{{ collectionTitle }}</h3>

            <h2 class="pdp__info--title">{{ productTitleClean }}</h2>
          </div>
          <div class="pdp__info--description medium-down--hide">
            <p>{{ product.description }}</p>
          </div>
          <div class="">
            <h2 class="pdp__info--price" data-product-id="{{product.id}}">{{ product.price | money }}</h2>
          </div>
          <div class="mtop-15">
            {%- if product.variants.size > 1 -%}
            <p class="mbot-15 medium-down--hide">Select Size:</p>
            <div class="grid">
              {%- if product.variants.size < 2 -%}
                {% assign single = 'single' %}
              {%- else -%}
                {% assign single = 'not' %}

              {%- endif -%}
              {%- if product.type == "Lipstick" -%}
                {%- for variant in product.variants -%}
                  {%- if variant.title contains '/' -%}
                    {% assign varArr = variant.title | split: '/' %}
                    {% assign varTitle = varArr.first %}
                    {%- else -%}
                      {% assign varTitle = variant.title %}
                  {%- endif -%}
                  {%- if variant.title == "Default Title" -%}
                  {%- else -%}

                  <div class="grid__item one-sixth">
                    <div class="mbot-8 js-pdp__variant--container pdp__variant--palette--container {{single}}" data-product-id="{{product.id}}" data-variant-id="{{ variant.id }}" data-variant-price="{{ variant.price }}" data-variant-img="{{ variant.image.src | img_url: '480x' }}">
                        <img src="{{ variant.image.src | img_url: '480x' }}" alt="">
                        {% comment %}
                        <p class="text-center">{{ varTitle }}</p>
                        {% endcomment %}
                    </div>
                  </div>
                  {%- endif -%}
                {%- endfor -%}
              {%- else  -%}
              {%- for variant in product.variants -%}
              {%- if variant.title == "Default Title" -%}
              {%- else -%}

              <div class="grid__item one-third">
                <div class="pdp__variant--container {{single}}" data-product-id="{{product.id}}" data-variant-id="{{ variant.id }}" data-variant-price="{{ variant.price }}">

                    <p class="text-center">{{variant.title}}</p>

                </div>
              </div>
              {%- endif -%}
              {%- endfor -%}
              {% endif %}
            </div>
            {%- endif -%}
          </div>
          <hr class="pdp__details--hr">
          <div class="flex align-center ">
            <div class="pdp__quantity-incrementor--container">
              <div class="pdp__quantity-incrementor js-quantity--decrementor">
                <img src="{{ 'icon--minus.svg' | asset_url }}" alt="">
              </div>
              <p class="js-quantity--current" data-product-id="{{product.variants.first.id}}">1</p>
              <div class="pdp__quantity-incrementor js-quantity--incrementor">
                <img src="{{ 'icon--plus.svg' | asset_url }}" alt="">
              </div>
            </div>
            <div class="product-card__modal--add-to-cart js-product-card__modal--add-to-cart" data-product-id="{{product.id}}" data-variant-id="{{product.variants.first.id}}" data-product-image="{{product.images.first.src | img_url: 'small'}}" data-product-vendor="{{product.vendor}}" data-product-title="{{productTitleClean}}" data-product-quantity="1" data-product-price="{{ product.price | money }}">
              <p>ADD TO CART</p>
            </div>
            {% comment %}
            <form class="product-form" action="/cart/add" data-productid="{{product.id}}"  method="post">
              <input type="hidden" name="id" data-productid="{{product.id}}" class="product-select" value="{{ product.variants[0].id }}" data-variant-title="{{ product.variants[0].title }}" />
              <input type="submit" class="btn pdp__add-to-cart" value="ADD TO CART">
            </form>
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="page-width"> -->
<!-- PRODUCT MOBILE -->

<div class="mtop-16 text-light-grey page-width">
  <div class="mbot-60">
    <div class="grid large-up--hide">
      <div class="grid__item one-whole">
        <div class="text-center">
          {% comment %}
          <h3 class="pdp__info--vendor">{{ product.vendor }}</h3>
          {% endcomment %}
          <h3 class="pdp__col--title">{{ collectionTitle }}</h3>

          <h2 class="pdp__info--title">{{ productTitleClean }}</h2>
        </div>
      </div>
      <div class="grid__item one-whole">
        <div class="">
          <div class="pdp__image">
            <img class="width--full" src="{{product.images.first.src | img_url: '480x'}}" alt="">
          </div>
        </div>
      </div>
      <div class="grid__item one-whole">

      </div>
      <div class="grid__item one-whole">
        <div class="">
          <h2 class="pdp__info--price" data-product-id="{{ product.id }}">{{ product.price | money }}</h2>
          {%- if product.variants.size < 2 -%}
            {% assign single = 'single' %}
          {%- else -%}
            {% assign single = 'not' %}

          {%- endif -%}
          {%- if product.variants.size > 0 -%}
          <p class="mbot-15 medium-down--hide">Select Size</p>
          <div class="pdp__variants--container">
            {%- if product.type == "Lipstick" -%}
            <div class="grid">
              {%- for variant in product.variants -%}

              {%- if variant.title == "Default Title" -%}
              {%- else -%}
              <div class="grid__item one-sixth">
                <div class="mbot-8 js-pdp__variant--container pdp__variant--palette--container {{single}}" data-product-id="{{product.id}}" data-variant-id="{{ variant.id }}" data-variant-price="{{ variant.price }}" data-variant-img="{{ variant.image.src | img_url: '480x' }}">
                    <img src="{{ variant.image.src | img_url: '480x' }}" alt="">
                    {% comment %}
                    <p class="text-center">{{ varTitle }}</p>
                    {% endcomment %}
                </div>
              </div>
              {% endif %}
              {%- endfor -%}
            </div>
            {%- else  -%}
            <div class="grid">
              {%- for variant in product.variants -%}
              <div class="grid__item one-third">
                <div class="pdp__variant--container {{single}}" data-product-id="{{product.id}}" data-variant-id="{{ variant.id }}" data-variant-price="{{ variant.price }}">
                    {{variant.title}}
                </div>
              </div>
              {%- endfor -%}
            </div>
            {%- endif -%}

          </div>
          {%- endif -%}
        </div>
      </div>
      <div class="grid__item one-whole">
        <div class="pdp__add-to-cart--details--container--mobile">
          <ul class="collapsible padding-none margin-none" data-collapsible="accordion">
            <li>
              <div class="collapsible-header pdp__add-to-cart--details--mobile js-pdp__add-to-cart--details--mobile">
                <p>Details</p>
                <div class="">
                  <div class="pdp__details-closed--mobile--icon">
                    <img src="{{ 'icon--plus.svg' | asset_url }}" alt="">
                  </div>
                  <div class="pdp__details-opened--mobile--icon">
                    <img src="{{ 'icon--minus.svg' | asset_url }}" alt="">
                  </div>
                </div>
              </div>
              <div class="collapsible-body pdp__add-to-cart--details--text--mobile">
                <div class="mtop-16">
                  <p>{{ product.description }}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pdp__add-to-cart--container--mobile large-up--hide">

  <!-- <form class="product-form" action="/cart/add" data-productid="{{product.id}}"  method="post"> -->
  <div class="product-card__modal--add-to-cart js-product-card__modal--add-to-cart" data-mobile="true" data-product-id="{{product.id}}" data-variant-id="{{ product.variants.first.id }}" data-product-image="{{product.images.first.src | img_url: 'small'}}" data-product-vendor="{{product.vendor}}" data-product-title="{{productTitleClean}}" data-product-quantity="1" data-product-price="{{ product.price | money }}">
    <p>ADD TO CART</p>
  </div>
  <!-- </form> -->

</div>


<!-- </div> -->

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
